.mt0{ margin-top:0px !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt25{ margin-top:25px !important;}
.mt30{ margin-top:30px !important;}
.mt35{ margin-top:35px !important;}
.mt40{ margin-top:40px !important;}
.mt45{ margin-top:45px !important;}
.mt50{ margin-top:50px !important;}

.mr0{ margin-right:0px !important;}
.mr5{ margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr20{ margin-right:20px !important;}
.mr25{ margin-right:25px !important;}
.mr30{ margin-right:30px !important;}
.mr35{ margin-right:35px !important;}
.mr40{ margin-right:40px !important;}
.mr45{ margin-right:45px !important;}
.mr50{ margin-right:50px !important;}

.mb0{ margin-bottom:0px !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mb15{ margin-bottom:15px !important;}
.mb20{ margin-bottom:20px !important;}
.mb25{ margin-bottom:25px !important;}
.mb30{ margin-bottom:30px !important;}
.mb35{ margin-bottom:35px !important;}
.mb40{ margin-bottom:40px !important;}
.mb45{ margin-bottom:45px !important;}
.mb50{ margin-bottom:50px !important;}

.ml0{ margin-left:0px !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml15{ margin-left:15px !important;}
.ml20{ margin-left:20px !important;}
.ml25{ margin-left:25px !important;}
.ml30{ margin-left:30px !important;}
.ml35{ margin-left:35px !important;}
.ml40{ margin-left:40px !important;}
.ml45{ margin-left:45px !important;}
.ml50{ margin-left:50px !important;}
.ml25per{ margin-left:25% !important;}

.m0{ margin:0px !important;}
.m5{ margin:5px !important;}
.m10{ margin:10px !important;}
.m15{ margin:15px !important;}
.m20{ margin:20px !important;}
.m25{ margin:25px !important;}
.m30{ margin:30px !important;}
.m35{ margin:35px !important;}
.m40{ margin:40px !important;}
.m45{ margin:45px !important;}
.m50{ margin:50px !important;}

.per10{width:10% !important;}
.per15{width:15% !important;}
.per20{width:20% !important;}
.per25{width:25% !important;}
.per30{width:30% !important;}
.per35{width:35% !important;}
.per40{width:40% !important;}
.per45{width:45% !important;}
.per50{width:50% !important;}
.per55{width:55% !important;}
.per60{width:60% !important;}
.per65{width:65% !important;}
.per66{width:66% !important;}
.per70{width:70% !important;}
.per75{width:75% !important;}
.per80{width:80% !important;}
.per85{width:85% !important;}
.per90{width:90% !important;}
.per95{width:95% !important;}
.per100{width:100% !important;}
.fLeft{float:left !important;}
.fRight{float:right !important;}

.clear{clear:both;}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
    -o-transform: scale(1.4); /* Opera */
    padding: 10px;
}

.big-checkbox{ position:relative !important; margin-left:5px;}

.posRel{position:relative;}


* { 
    margin:0;
    padding: 0;
}

.museo300{
    font-family:museo300, sans-serif;
}

.museo500{
    font-family:museo500, sans-serif;
}

h1, h2{
    font-family:museo500, sans-serif;
}

h2
{
    padding-left: 2%;
}
a{
    cursor:pointer;
}

.left{text-align: left;}
.right{text-align:right;}
.center{text-align:center !important;}
body
{
    font-family: 'Museo Sans', sans-serif;
    font-size: 13px;
    /*padding:10px;*/
}

header
{
    width: 100%;
    padding: 1% 0 !important;
    border-bottom: 3px solid #D7D7D7;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
}

header #logo
{
    width: 100%;
}

header #logo img
{
    width:40%;
}

@media screen and (orientation: portrait) 
{
    div#error_rotate
    {
        display: inline;
    }
    footer#footer_rotate
    {
        display: inline;
    }
    #graph_rotate
    {
        display: none;
    }
}

@media screen and (orientation:landscape)
{
    header #logo img
    { 
        width:30%;
    }

    header#headerSecond #logo img
    {
        width:50%;
    }

    header#headerSecond #logo
    {
        width:50%;
        text-align:left !important;
    }


    ul[data-role='listview'] {
        margin-top: 1%;
    }
    div#error_rotate
    {
        display: none;
    }
    #graph_rotate
    {
        display: block;
    }
}



section
{
    margin: 1% 0;
    padding: 0 3% 65px;
    width: 94%;	
    float:left;
}

section #loginPage
{
    width:100%;
}

section h1
{
    text-align: center;
    margin-bottom: 0.5em;
}

section p
{
    line-height: 1.3em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.2em;
    padding:0 1% !important
}
section a
{
    display: block;
    text-align:center;
    margin-bottom: 0.5em;
}

section button
{
    display: block;
    width: 96%;
    text-align: center;
    margin: 0.5em auto;
    padding: 10px;
}

footer
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 3px solid #D7D7D7;
    bottom: 0;
    padding: 4px 2%;
    width: 96%;
    position:absolute;
    height:30px;
    overflow: hidden;
}

footer #socialIcons
{
    text-align: right;
}

footer #socialIcons img
{
    width: 28px;
}

.footerRow 
{
    padding:0.5em 0em;   
}

.test{}

.footerRow ul
{
    list-style-type: none;
}

.footerRow ul li
{
    float:right;
    margin:0 2%;
    text-align: right;
}

#footerSlider .footerRow
{

}

#footerSlider
{
    position:relative;
}
.hiddenFooter
{
    background: none repeat scroll 0 0 #FFFFFF;
    left: 110%;
    position: absolute;
    top: 0;
    width: 100%;
}

.groupDivs
{
    width:100%;
    margin-top: 4%;
}

.groupDivs p
{
    line-height: 1.3em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.1em;
    padding:0 1% !important
}

.groupDivs.border
{
    border-bottom:1px dashed #818181;
}

.groupDivs div
{
    position: relative;
    padding:0 1%;
}

.groupDivs p
{
    text-align:left;
}
ul[data-role='listview']
{
    margin-top: 5%;
}
ul[data-role='listview'] li a
{
    margin:0px;
    text-align: left;
}

ul[data-role='listview'] li a span.subdata
{
    font-size:15px;
    font-weight: normal
}

ul[data-role='listview'] li .ui-icon {
    left: 10px;
}

ul[data-role='listview'] li .ui-li > .ui-btn-text
{
    padding-left: 20px;
}

.miniNav{}
.miniNav li .ui-btn .ui-btn-inner{ padding-bottom:0.4em !important; padding-top:0.4em !important;}
.dataTable .ui-table-columntoggle-btn{display:none;}
.myVisitTable td{vertical-align:middle !important;}
.myVisitTable img{width:16px; height:16px;}

.miniNavForMultiTabs{}
.miniNavForMultiTabs li .ui-btn .ui-btn-inner{ padding-bottom:0.4em !important; padding-top:0.4em !important;}

header#headerSecond #logo
{
    width:50%;
}

header#headerSecond #logo img
{
    width:100%;
}

header#headerSecond #otherIcons
{
    text-align: right;
    padding-right: 4%;
}
header#headerSecond #otherIcons img
{
    margin: 14px 3% 0;
    text-align: right;
    width:19%;
}

#error
{
    color:red;
    text-align:center;
}

.percentage{position:absolute; top:12px; font-size:16px; right:15px; z-index:99; font-weight:bold;}

#mydate{
    text-align: center
}

.sugar-list{width:90%; float: left; list-style:none; padding: 10px 5%;  }
.sugar-list li{list-style:none; float: left;  }
.sugar-list .item{width:31%; float: left; border-radius:10px; border:1px solid #aaa; overflow: hidden; margin-bottom: 10px;}
.sugar-list .marRight{margin-right:2%;}
.sugar-list .item .content{width:90%; padding:5px 5%; height: 50px; float: left; text-align:center;}
.sugar-list .item .value{width:100%; font-size:15px; font-weight: bold;  height:50px; line-height: 50px; color:#fff; text-shadow:none;  float: left; text-align:center;}
.sugar-list .item .Green{background:#6F9A15;}
.sugar-list .item .yellow{background:#E68E13;}
.sugar-list .item .red{background:#C15644;}
.sugar-list .item .blue{background:#0783B6}
.value-index{border-radius:5px; border:1px solid #aaa; padding: 10px; font-family: museo300; font-size: 13px; margin-bottom: 20px;}
.value-index h2{font-size: 15px; margin-bottom: 10px; padding-left:0;}

.info-Content{width:100%; float:left;font-family:arial; font-size:13px; margin:15px 0;}
.info-Content p{text-align:left; padding-bottom:10px !important; font-size:13px !important;}
.info-Content ol{float:left; margin-left:25px; margin-bottom:10px;}
.info-Content ol li{list-style:decimal; padding-bottom:5px; float:left; width:100%;}

.smallFont .ui-btn-inner{font-size:16px;}

.tableScroller{max-height:250px; overflow:scroll;}
.ui-popup-container{width:88% !important;}
.ui-datebox-container{z-index:10000 !important;}
.ui-table-columntoggle-btn{display:none !important;}

textarea.ui-input-text{height:70px !important;}
.menuBg{background:#e4e4e4; width:100%; margin-left:-3%; padding:10px 3%;}
.noteBg{background:#e4e4e4; width:100%; margin-left:-3%; padding:0 3%;}
.previousReading{font-size:14px; font-weight:bold;}

.static-pages{width:94%; float:left; font-size:museo300; font-size:13px; line-height:21px; margin:0 3%;}
.static-pages h2{font-size:15px;}
.static-pages p{width:100%; float:left; font-size:museo300; font-size:13px; margin-bottom:15px; line-height:21px; text-align:left; }
.static-pages ul, .static-pages ol{float:left; margin-left:20px;}
.static-pages ul li{list-style:disc !important; float:left; width:100%; margin-bottom:15px;}
.static-pages ol li{list-style:decimal; float:left; width:100%;  margin-bottom:15px;}

.fBold{font-weight:bold;}
.f13{ font-size:13px}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f15{font-size:15px;}

#checking .ui-corner-all{border-radius:0;}
#checking .ui-btn-corner-all{border-radius:0;}
.margAuto{margin:0 auto;}

.autoSearch .ui-btn-inner{font-size:16px;}